body{
    font-family: Arial, sans-serif;
}

.header, .footer{
    background-color: #0ba01f;
    color: whitesmoke;
    padding: 8px 16px;
    text-align: center; /* alinhamento de texto e imagem da classe */
}

.recipe-card{
    text-align: center;
    min-width: 320px; /* minimo do tamanho dos elementos da classe */
    max-width: 345px;
    margin: 16px auto; /* margem dos elementos colocando cima-baixo e direita-esquerda (este como automatico) */
    box-shadow:  1px 1px 5px rgba(0, 0, 0, .2); /* sombra na caixa */
}

.recipe-picture{
    max-width: 100%;

}

.recipe-category{
    font-size: 12px; /* tamanho da fonte */
    text-transform: uppercase; /* força os caracteres a serem 'uppercase' */
    color: #B8B8B8;
    padding: 4px 12px; /* margem interna */
}

.recipe.name{
    padding: 4px 12px;
}